<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <traceFailedRequests>
        <add path="*">
            <traceAreas>
                <add provider="ASP" verbosity="Verbose" />
                <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                <add provider="ISAPI Extension" verbosity="Verbose" />
                <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,
                                                                             RequestNotifications,Module,FastCGI" verbosity="Verbose" />
            </traceAreas>
            <failureDefinitions statusCodes="200" />
        </add>
    </traceFailedRequests>
        <handlers>
            <remove name="ISAPI-dll" />
            <add name="ISAPI-dll" path="*.dll" verb="*" type="" modules="IsapiModule" scriptProcessor="" resourceType="File" requireAccess="Execute" allowPathInfo="true" preCondition="" responseBufferLimit="0" />
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
        </handlers>
          <httpProtocol>
            <customHeaders>
                <add name="Arr-Disable-Session-Affinity" value="true"/>
            </customHeaders>
        </httpProtocol>
        <rewrite>
			<rules>
				<rule name="DynamicContent">
					<match url="/*" />
					<action type="Rewrite" url="app.js"/>
				</rule>
			</rules>
		</rewrite>
		<iisnode flushResponse="true" />
    </system.webServer>
</configuration>